DATABASE_URL="postgresql://u361157364_usermenu:YOUR_PASSWORD_ENCODED@localhost:5432/u361157364_dbmenu?schema=public"
PORT=4006
CLIENT_ORIGIN=http://localhost:5173,https://menu.crevo-eg.com,https://api-menu.crevo-eg.com
REDIS_URL="redis://localhost:6379"
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ADMIN_TOKEN=change-me-in-production

